
<div class="container">
  <h1>New Game</h1>

  <div class="selection">
    <% index_final = (@letters.length - 1) %>
    <% (0..index_final).each do |index|%>
      <span class="random-letters"><%= @letters[index] %></span>
    <% end %>
  </div>

<!--   <% @list = @letters.join(', ') %> -->

  <!-- <p><%= @list %></p> -->

  <div class="input-group">
    <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :selection, @letters %>
      <input class="text-field" type="text" name="word" placeholder="What is the longest word you can find ?">
      <input class="btn btn-outline-secondary" type="submit" value="Play">
    </form>
  </div>

</div>


