// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 500px;
  margin: 50px auto;
}
.selection {
  margin: 50px auto;
}
.random-letters {
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  font-size: 20px;
}

.text-field {
  width: 500px;
  padding: 10px;
}

.answer {
  margin: 50px 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  font-size: 20px;
}

h1, .back {
  margin-left: 10px !important;
}
